<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js" defer></script>
    <title>Document</title>
</head>
<body>
    <h1>Good Morning!</h1>
    <div class="check"> none</div>
    <div id="newSum"></div>
    
    <div style="display: none;">모달창0</div>
    <div style="display: none;">모달창1</div>
    <div style="display: none;">모달창2</div>

    <button>버튼0</button>
    <button>버튼1</button>
    <button>버튼2</button>

    <img id="test" > 
    <input type="text" id="idea">
    <button id="submit1">신청</button>
    
</body>
</html>